@page
@model JewelrySalesSystem_NoName_FE.Pages.Admin.Employee.ListEmployeesModel
@{
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;
    int totalAccountCount = Model.TotalAccountCount;
    int totalActiveAccountCount = Model.ActiveAccountCount;
    int totalInActiveAccountCount = Model.TotalAccountCount - Model.ActiveAccountCount;
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable(); 
    });
</script>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.png" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Tổng tài khoản  <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalAccountCount</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Tài khoản đang hoạt động <i class="mdi mdi-diamond mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalActiveAccountCount</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-warning  card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Tài khoản ngừng hoạt động <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalInActiveAccountCount<h2>
                    </div>
                </div>
            </div>
        </div>


        @* <h4 class="card-title">Tìm Kiếm Nhân Viên</h4> *@
        

        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        @* <h4 class="card-title">Danh sách nhân viên</h4> *@
                        <div class="table-responsive">
                            <table id="employeeTable" class="table">
                                <thead>
                                    <tr>
                                        <th>  </th>
                                        <th> Full Name</th>
                                        <th> Phone </th>
                                        <th> Dob </th>
                                        <th> Address</th>
                                        <th> Status </th>
                                        <th> View</th>
                                        <th> Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model.ListEmployees)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@account.ImgUrl" alt="" />
                                            </td>
                                            <td> @account.FullName </td>
                                            <td> @account.Phone </td>
                                            <td> @account.Dob?.ToString("yyyy-MM-dd") </td>
                                            <td> @account.Address </td>
                                            <td> @account.Status </td>

                                            <td>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeModal-@account.Id">
                                                    <i class="fa fa-eye menu-icon"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal-@account.Id">
                                                    <i class="fa fa-edit menu-icon"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <!-- Detail -->
                                        <div class="modal fade" id="employeeModal-@account.Id" tabindex="-1" aria-labelledby="employeeModalLabel-@account.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="employeeModalLabel-@account.Id">Employee Details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Full Name: @account.FullName</p>
                                                        <p>Phone: @account.Phone</p>
                                                        <p>Date of Birth: @(account.Dob.HasValue ? account.Dob.Value.ToString("yyyy-MM-dd") : "N/A")</p>
                                                        <p>Password: @account.Password</p>
                                                        <p>Address: @account.Address</p>
                                                        <p>Deflag: @account.Deflag</p>
                                                        <p>RoleId: @account.RoleId</p>
                                                        <p>InsDate: @(account.InsDate.HasValue ? account.InsDate.Value.ToString("yyyy-MM-dd") : "N/A")</p>
                                                        <p>UpsDate: @(account.UpsDate.HasValue ? account.UpsDate.Value.ToString("yyyy-MM-dd") : "N/A")</p>
                                                        <p>Status: @account.Status</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Edit -->
                                        <div class="modal fade " id="editModal-@account.Id" tabindex="-1" aria-labelledby="editModalLabel-@account.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel-@account.Id">Edit Employee</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Id</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Id">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">ImgURL</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.ImgUrl">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Full Name</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.FullName">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Phone</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Phone">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Date of Birth</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Dob">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Password</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Password">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Address</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Address">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">RoleID</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.RoleId">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">InsDate</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.InsDate">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">UpsDate</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.UpsDate">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editId" class="form-label">Status</label>
                                                                <input readonly type="text" class="form-control" id="editFullName" value="@account.Status">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example" style="padding-top:50px">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-page="./ListEmployees" asp-route-page="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Previous</a>
                                    </li>
                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="page-item @(Model.Page == i ? "active" : "")">
                                            <a class="page-link" asp-page="./ListEmployees" asp-route-page="@i" asp-route-size="@Model.Size">@i</a>
                                        </li>
                                    }
                                    <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                        <a class="page-link" asp-page="./ListEmployees" asp-route-page="@(Model.Page + 1)" asp-route-size="@Model.Size" aria-disabled="@(Model.Page == Model.TotalPages)">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

