@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Orders.ListOrderModel
@{
    ViewData["Title"] = "Search Jewelry Orders";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách đơn hàng</h4>
                        <div class="container">
                            <div class="row">
                                <!-- Table 1 -->
                                <div class="col-md-6 mb-4 shadow-box shadow rounded">
                                    <form method="get">
                                        <div class="form-group">
                                            <label for="OrderId">Mã đơn hàng</label>
                                            <input type="text" class="form-control" id="OrderId" name="OrderId" value="@Model.SearchCriteria.OrderId" placeholder="Nhập mã đơn hàng" />
                                        </div>
                                        <div class="form-group">
                                            <label for="CustomerId">Mã khách hàng</label>
                                            <input type="text" class="form-control" id="CustomerId" name="CustomerId" value="@Model.SearchCriteria.CustomerId" placeholder="Nhập mã khách hàng" />
                                        </div>
                                        <div class="form-group">
                                            <label for="StartDate">Ngày bắt đầu</label>
                                            <input type="date" class="form-control" id="StartDate" name="StartDate" value="@Model.SearchCriteria.StartDate?.ToString("yyyy-MM-dd")" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                    </form>
                                </div>

                                <!-- Table 2 -->
                                <div class="col-md-6 mb-4 shadow-box shadow rounded">
                                    <div class="form-group col-md-8">
                                        <label for="CustomerPhone">Số điện thoại của khách hàng</label>
                                        <input type="text" class="form-control" id="CustomerPhone" name="CustomerPhone" value="" placeholder="Nhập số điện thoại của khách hàng" />
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <button type="button" name="action" value="search" id="searchCustomerBtn" class="btn btn-primary mt-0 btn-block text-center"
                                                onclick="handleCustomer()">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                    <!-- Add any additional form groups or content here -->
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tổng giá trị</th>
                                        <th>Giá xử lý vật liệu</th>
                                        <th>Mã khuyến mãi</th>
                                        <th>Xem chi tiết</th>
                                        <th>Ngày mua hàng</th>
                                    </tr>
                                </thead>
                                <tbody id="orderListBody">
                                    @foreach (var order in Model.FilteredOrderList)
                                    {
                                        <tr>
                                            <td>@order.Id</td>
                                            <td>@order.TotalPrice</td>
                                            <td>@order.MaterialProccessPrice</td>
                                            <td>@order.DiscountId</td>
                                            <td>@order.InsDate</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#orderModal-@order.Id">
                                                    <i class="fa fa-eye menu-icon"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- Detail -->
                                        <div class="modal fade" id="orderModal-@order.Id" tabindex="-1" aria-labelledby="orderModalLabel-@order.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="orderModalLabel-@order.Id">Order Details - @order.Id</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Mã đơn hàng: @order.Id</p>
                                                        <p>Tổng giá trị: @order.TotalPrice</p>
                                                        <p>Giá xử lý vật liệu: @order.MaterialProccessPrice</p>
                                                        @* <p>ID khách hàng: @order.CustomerId</p> *@
                                                        <p>Mã khuyến mãi: @order.DiscountId</p>
                                                        <p>Số điện thoại khách hàng: @order.CustomerPhone</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function handleCustomer() {
            var phone = $('#CustomerPhone').val();
            console.log("Phone: ", phone);
            $.ajax({
                url: '/Staff/Orders/ListOrder?handler=FilterOrder',
                type: 'GET',
                data: { phone: phone },
                success: function (response) {
                    if (response.success) {
                        // Xử lý dữ liệu trả về, ví dụ hiển thị danh sách đơn hàng
                        console.log(response.data);
                    } else {
                        // Xử lý lỗi nếu có
                        console.error(response.message);
                    }
                },
                error: function () {
                    // Xử lý lỗi khi gọi API không thành công
                    alert('Đã xảy ra lỗi khi xử lý yêu cầu.');
                }
            });
        }
    </script>
}

<style>
    .shadow-box {
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1); 
        border-radius: 10px; 
        margin-bottom: 20px; 
    }
</style>