@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Products.ListProductModel
@{
    int totalPages = Model.TotalPages;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header d-flex justify-content-between align-items-center">
            <div>
                <h1 class="page-title display-4">DANH SÁCH TRANG SỨC</h1>
            </div>
            <div>
                <a class="nav-link d-inline-block" href="~/Manager/Products/AddProduct">
                    <button type="button" class="btn btn-gradient-primary btn-fw me-2">
                        <i class="mdi mdi-plus"></i>
                        Thêm trang sức mới
                    </button>
                </a>
                <button type="button" class="btn btn-inverse-success btn-fw" data-bs-toggle="modal" data-bs-target="#updateGoldRateModal">
                    <i class="mdi mdi-trending-up"></i>
                    Cập nhật giá vàng
                </button>
            </div>
        </div>
        <form method="get">
            <br />
            <div class="form-group">
                <input type="text" id="searchCode" name="searchCode" class="form-control" asp-for="SearchCode" placeholder="Nhập mã code của trang sức cần tìm" />
                <span asp-validation-for="SearchCode" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="selectedCategory" asp-for="SelectedCategory" asp-items="@(new SelectList(Model.cateList, "Id", "Name"))">
                    <option value="">-- Chọn loại --</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="selectedMaterial" asp-for="SelectedMaterial" asp-items="@(new SelectList(Model.mateList, "Id", "MaterialName"))">
                    <option value="">-- Chọn chất liệu --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-gradient-secondary btn-fw">
                <i class="mdi mdi-magnify"></i>
                Tìm Kiếm
            </button>
        </form>
        <br />
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row" id="productList">
                        @foreach (var item in Model.productList)
                        {
                            <div class="col-md-3 d-flex align-items-stretch">
                                <div class="card product-card">
                                    <img class="card-img-top product-image" src="@item.ImgProduct" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">@item.ProductName</h5>
                                        <p class="card-text">Code : <strong>@item.Code</strong></p>
                                        <p class="card-text">Loại : <strong>@item.Category?.Name</strong></p>
                                        <p class="card-text">Số Lượng : <strong>@item.Quantity</strong></p>
                                        <p class="card-text">Giá Bán : <strong>@item.SellingPrice</strong></p>
                                        <div class="mt-auto d-flex justify-content-between">
                                            <a href="~/Manager/Products/EditProduct?id=@item.Id" class="btn btn-outline-secondary btn-fw me-2">Cập Nhật</a>
                                            <a data-bs-toggle="modal" data-bs-target="#productModal-@item.Id" class="btn btn-outline-danger btn-fw">
                                                <i class="fa fa-eye menu-icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="productModal-@item.Id" tabindex="-1" aria-labelledby="productModalLabel-@item.Id" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="productModalLabel-@item.Id">Chi tiết trang sức</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="product-details">
                                                <img src="@item.ImgProduct" alt="Product Image" class="product-image" />
                                                <div class="product-info">
                                                    <h4>@item.ProductName</h4>
                                                    <p><strong>Code :</strong> @item.Code</p>
                                                    <p><strong>Chất liệu :</strong> @item.Material?.MaterialName</p>
                                                    <p><strong>Mô tả :</strong> @item.Description</p>
                                                    <p><strong>Kích thước :</strong> @item.Size</p>
                                                    <p><strong>Số lượng :</strong> @item.Quantity</p>
                                                    <p><strong>Giá Bán :</strong> @item.SellingPrice</p>
                                                    <p><strong>Loại :</strong> @item.Category?.Name</p>
                                                    <p><strong>Ngày nhập :</strong> @item.InsDate</p>
                                                    <p><strong>Thời lượng bảo hành :</strong> @item.PeriodWarranty tháng</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <nav aria-label="Page navigation example" style="padding-top:50px">
                        <ul class="pagination justify-content-end">
                            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                <a class="page-link" asp-page="./ListProduct" asp-route-currentPage="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Trước</a>
                            </li>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.Page == i ? "active" : "")">
                                    <a class="page-link" asp-page="./ListProduct" asp-route-currentPage="@i" asp-route-size="@Model.Size">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                <a class="page-link" asp-page="./ListProduct" asp-route-currentPage="@(Model.Page + 1)" asp-route-size="@Model.Size" aria-disabled="@(Model.Page == Model.TotalPages)">Sau</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateGoldRateModal" tabindex="-1" aria-labelledby="updateGoldRateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateGoldRateModalLabel">Cập nhật tỉ giá vàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateGoldRateForm" method="post">
                    <div class="form-group">
                        <label for="newRate">New Gold Rate</label>
                        <input type="number" step="0.01" class="form-control" id="newRate" name="NewRate" required />
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Cập Nhật</button>
                    <button type="button" class="btn btn-gradient-light btn-fw" data-bs-dismiss="modal">Hủy</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#updateGoldRateForm").on("submit", function (e) {
                e.preventDefault();

                var newrate = $("#newRate").val();

                $.ajax({
                    url: '@Url.Page("/Manager/RateOfGold/UpdateGoldRate")',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    data: JSON.stringify(newrate),
                    success: function (result) {
                        alert("Cập nhật tỉ giá vàng thành công!");
                        $("#updateGoldRateModal").modal('hide');
                    },
                    error: function (err) {
                        alert("Có lỗi xảy ra khi cập nhật tỉ giá vàng. Vui lòng thử lại.");
                    }
                });
            });
        });
    </script>
}

<style>
    .page-title {
        font-size: 2.5rem;
    }

    .card {
        margin-bottom: 20px;
    }

    .product-card {
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        max-width: 300px;
        max-height: 300px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .product-info {
        width: 100%;
    }

        .product-info p {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-bottom: 10px;
        }

            .product-info p strong {
                color: #495057;
            }
</style>
