@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Discounts.IndexModel
@{
}

<h1>Discounts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Percent Discount</th>
            <th>Description</th>
            <th>Status</th>
            <th>Ins Date</th>
            <th>Ups Date</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var discount in Model.Discounts)
        {
            <tr>
                <td>@discount.OrderId</td>
                <td>@discount.ManagerId</td>
                <td><span class="badge @(discount.Status == "Pending"  ? "badge-info" : "badge-success")">@discount.Status</span></td>
                <td>@discount.PercentDiscount</td>
                <td>@discount.Description</td>
                <td>@discount.ConditionDiscount</td>
                <td>@discount.InsDate - @discount.UpsDate</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:44318/signalrServer")
                .build();


            connection.start().then(() => {
                console.log("SignalR Connected.");
            }).catch(err => console.error(err.toString()));

            connection.on("ReceiveDiscountNotification", function (message) {
                console.log("Received message: " + message);
                // Cập nhật lại danh sách discounts khi có thay đổi
                loadData();
            });

            function loadData() {
                fetch('https://localhost:44318/api/v1/discount')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("Data:" + data);
                        refreshDiscountsTable(data);
                    })
                    .catch(error => console.error('Error fetching data: ', error));

            }

            function refreshDiscountsTable(data) {
                // Assuming data is the JSON object you provided
                var discounts = data['$values'];

                // Ensure discounts is an array before calling forEach
                if (Array.isArray(discounts)) {
                    // Clear existing table rows (optional, depending on your UI requirements)
                    tableBody.innerHTML = '';

                    discounts.forEach(discount => {
                        var row = `<tr>
                                   <td>${discount.id}</td>
                                   <td>${discount.percentDiscount}</td>
                                   <td>${discount.description}</td>
                                   <td>${discount.status}</td>
                                   <td>${discount.insDate}</td>
                                   <td>${discount.upsDate}</td>
                               </tr>`;
                        tableBody.innerHTML += row;
                    });
                } else {
                    console.error('Received data is not an array: ', discounts);
                }
            }


            // Gọi hàm loadData khi trang được load
            loadData();
        });
    </script>
}
