@page
@model JewelrySalesSystem_NoName_FE.Pages.Staff.Discounts.ListDiscountModel
@{
    int totalRecord = (int)Model.TotalRecord;
    int totalPages = (int)Model.TotalPages;
    int currentPage = Model.CurrentPage;
    int pageSize = Model.PageSize;

    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, currentPage + 2);

    int startIndex = ((currentPage - 1) * pageSize) + 1;
    int endIndex = startIndex + pageSize - 1;
    if (endIndex > totalRecord) endIndex = totalRecord;
    var count = startIndex;

}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-3">
            <div class="col-sm-12 col-lg-6">
                <h4 class="card-title">Danh sách chiết khấu</h4>



            </div>
            @if (Model.IsManager == false)
            {
                <div class="col-sm-12 col-lg-6">
                    <a class="nav-link text-end" href="~/Staff/Discounts/AddDiscount">
                        <span class="menu-title"></span>
                        <span class="btn btn-gradient-primary btn-fw">Thêm chiết khấu</span>
                    </a>
                </div>
            }

        </div>
        <form method="get" id="form-search">
            <div class="form-group">
                <label asp-for="Search" class="control-label">Tìm kiếm</label>
                <div class="row">
                    <div class="col-sm-12 col-lg-10">
                        <input id="input-search" asp-for="Search" class="form-control" autofocus placeholder="Nhập từ khóa để tìm kiếm" />
                    </div>
                    <div class="col-sm-12 col-lg-2 text-end mt-2 mt-lg-0">
                        <button class="btn btn-secondary" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="CurrentPage" />
            <input type="hidden" asp-for="PageSize" />
        </form>
        <div class="card">
            <div class="card-body">

                @if (totalRecord > 0)
                {
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> STT </th>
                                    <th>Mã khuyến mãi</th>
                                    <th> Mã hóa đơn </th>
                                    <th> Trạng thái </th>
                                    <th> Phần trăm giám giá </th>
                                    <th> Mô tả </th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                @foreach (var discount in Model.Discounts)
                                {
                                    <tr>
                                        <td>@(count++)</td>
                                        <td title="@discount.Id" data-bs-toggle="tooltip" data-bs-placement="top">
                                            <a href="DiscountDetails?discountId=@discount.Id"> @discount.Id</a>
                                        </td>
                                        <td>@discount.OrderId</td>
                                        <td>
                                            @if (discount.Status == "Pending")
                                            {
                                                <span class="badge badge-info">Chờ phản hồi</span>
                                            }
                                            @if (discount.Status == "Accepted")
                                            {
                                                <span class="badge badge-success">Chấp nhận</span>
                                            }
                                            @if (discount.Status == "Denied")
                                            {
                                                <span class="badge badge-danger">Từ chối</span>
                                            }
                                        </td>
                                        <td>@discount.PercentDiscount</td>
                                        <td>@discount.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="row d-flex justify-content-center align-content-center mt-3">
                        <div class="col">
                            <span>Hiển thị <strong>@startIndex - @endIndex</strong> trên tổng số <strong> @totalRecord</strong> chiết khấu</span>
                        </div>

                        @if (totalPages > 1)
                        {
                            <ul class="pagination justify-content-end col">
                                <li class="page-item @((currentPage == 1) ? "disabled" : "")">
                                    <a class="page-link" href="?currentPage=@(currentPage-1)" tabindex="-1" aria-disabled="true">Trước</a>
                                </li>

                                @if (currentPage > 3)
                                {
                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                }

                                @for (int pageIndex = startPage; pageIndex <= endPage; pageIndex++)
                                {
                                    <li class="page-item @(pageIndex == currentPage ? "active" : "")">
                                        <a class="page-link" href="?currentPage=@pageIndex">@pageIndex</a>
                                    </li>
                                }

                                @if (currentPage < Math.Ceiling(totalRecord / 10.0) - 2)
                                {
                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                }

                                <li class="page-item @((currentPage == totalPages) ? "disabled" : "")">
                                    <a class="page-link" href="?currentPage=@(currentPage+1)">Tiếp</a>
                                </li>
                            </ul>

                        }
                    </div>
                }
                else
                {
                    <div>Không tìm thấy chiết khấu nào.</div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script>
        const inputSearch = document.getElementById('input-search');
        const formSearch = document.getElementById('form-search');
        var timeout = setTimeout(function () { }, 0);
        window.addEventListener("load", (event) => {
            const end = inputSearch.value.length;
            inputSearch.setSelectionRange(end, end);
            // 👇 scroll to the bottom if a textarea has long text
            inputSearch.focus()
        });
        inputSearch.addEventListener('keypress', () => {
            clearTimeout(timeout);
            timeout = setTimeout(function () { formSearch.submit(); }, 3000)
        });

        document.addEventListener("DOMContentLoaded", function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:44318/signalrServer")
                .build();


            connection.start().then(() => {
                console.log("SignalR Connected.");
            }).catch(err => console.error(err.toString()));

            connection.on("ReceiveDiscountNotification", function (message) {
                console.log("Received message: " + message);
                // Cập nhật lại danh sách discounts khi có thay đổi
                loadData();
            });

            function loadData() {
                fetch('https://localhost:44318/api/v1/discount')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("Data:" + data);
                        refreshDiscountsTable(data);
                    })
                    .catch(error => console.error('Error fetching data: ', error));

            }




            // Gọi hàm loadData khi trang được load
            loadData();
        });
    </script>
}

