@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Warranty.ListWarrantyModel
@{
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Danh sách điều kiện bảo hành </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @*Thêm nút add*@
                    <li class="nav-item">
                        <a class="nav-link" href="~/Manager/Products/AddProduct">
                            <span class="menu-title"></span>
                            <button type="button" class="btn btn-gradient-primary btn-fw">Thêm điều kiện</button>
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Ngày mua </th>
                                <th> Ngày hết hạn </th>
                                <th> Giai đoạn </th>
                                <th> Điền kiện </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var warranty in Model.WarrantyList)
                            {
                                <tr>
                                    <td> @warranty.DateOfPurchase?.ToString("yyyy-MM-dd") </td>
                                    <td> @warranty.ExpirationDate?.ToString("yyyy-MM-dd") </td>
                                    <td> @warranty.Period </td>
                                    <td> @warranty.ConditionWarranty</td>
                                    <td>
                                        <a class="nav-link" href="../index.html">
                                            <i class="fa fa-eye menu-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" style="padding-top:50px">
                        <ul class="pagination justify-content-end">
                            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                <a class="page-link" asp-page="./ListWarranty" asp-route-page="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Previous</a>
                            </li>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.Page == i ? "active" : "")">
                                    <a class="page-link" asp-page="./ListWarranty" asp-route-page="@i" asp-route-size="@Model.Size">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                <a class="page-link" asp-page="./ListWarranty" asp-route-page="@(Model.Page + 1)" asp-route-size="@Model.Size" aria-disabled="@(Model.Page == Model.TotalPages)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>