@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Warranty.ListWarrantyModel
@{
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="nav-link active btn-gradient-primary" aria-current="page" href="#">Danh sách sản phẩm bảo hành</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-gradient-light" href="~/Manager/Warranty/ListConditionWarranties" style="color: gray;">Điều kiện bảo hành</a>
                </li>
            </ul>
        </div>
        @if (totalItems > 0)
        {
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> Ngày mua </th>
                                    <th> Ngày hết hạn </th>
                                    <th> Giai đoạn </th>
                                    <th> Trạng thái </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var warranty in Model.WarrantyList)
                                {
                                    <tr>
                                        <td> @warranty.DateOfPurchase.ToString("dd-MM-yyyy") </td>
                                        <td> @warranty.ExpirationDate.ToString("dd-MM-yyyy") </td>
                                        <td> @warranty.Period </td>
                                        <td>
                                            @if (warranty.Status.Equals("Finish for Warranty"))
                                            {
                                                <label class="badge badge-success">Hoàn thành bảo hành</label>
                                            }
                                            else if (warranty.Status.Equals("Invalid for Warranty") || warranty.Status.Equals("Expired"))
                                            {
                                                <label class="badge badge-danger">@((warranty.Status.Equals("Invalid for Warranty")) ? "Không hợp lệ" : "Hết hạn")</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-warning">Đang bảo hành</label>
                                            }
                                        </td>
                                        <td>
                                            <a asp-page="./UpdateWarranty" asp-route-id="@warranty.Id" class="btn btn-primary">Cập nhật</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" style="padding-top:50px">
                            <ul class="pagination justify-content-end">
                                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Previous</a>
                                </li>
                                @for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.Page == i ? "active" : "")">
                                        <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@i" asp-route-size="@Model.Size">@i</a>
                                    </li>
                                }
                                <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                    <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@(Model.Page + 1)" asp-route-size="@Model.Size" aria-disabled="@(Model.Page == Model.TotalPages)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3>Hiện tại danh sách trống</h3>
        }
    </div>
</div>
