@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Warranty.ListWarrantyModel
@{
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <ul class="nav nav-pills flex-column flex-sm-row">
                <li class="nav-item">
                    <a class="nav-link active btn-gradient-primary" aria-current="page" href="#">Danh sách sản phẩm bảo hành</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-gradient-light" href="~/Manager/Warranty/ListConditionWarranties" style="color: gray;">Điều kiện bảo hành</a>
                </li>
            </ul>
        </div>
        <div class="mt-3">
            <form id="searchForm">
                <div class="input-group">
                    <input type="text" id="searchCode" name="searchCode" class="form-control" placeholder="Nhập mã code của bảo hành cần tìm" />
                    <div id="autocomplete-list" class="autocomplete-items"></div>
                    <button type="button" class="btn btn-gradient-secondary" onclick="searchWarranty()">
                        <i class="mdi mdi-magnify"></i>
                        Tìm Kiếm
                    </button>
                </div>
            </form>
        </div>
        <br />
        <div id="warrantyDetails" class="mt-3">
            <!-- Warranty details will be populated here -->
        </div>
        @if (totalItems > 0)
        {
            <div class="col-lg-12 grid-margin stretch-card" id="warrantyTable">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th> Ngày mua </th>
                                    <th> Ngày hết hạn </th>
                                    <th> Thời lượng </th>
                                    <th> Trạng thái </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var warranty in Model.WarrantyList)
                                {
                                    <tr>
                                        <td> @warranty.ProductName</td>
                                        <td> @warranty.DateOfPurchase.ToString("dd-MM-yyyy") </td>
                                        <td> @warranty.ExpirationDate.ToString("dd-MM-yyyy") </td>
                                        <td> @warranty.Period </td>
                                        <td>
                                            @if (warranty.Status.Equals("Finish for Warranty"))
                                            {
                                                <label class="badge badge-success">Hoàn thành bảo hành</label>
                                            }
                                            else if (warranty.Status.Equals("Invalid for Warranty") || warranty.Status.Equals("Expired"))
                                            {
                                                <label class="badge badge-danger">@((warranty.Status.Equals("Invalid for Warranty")) ? "Không hợp lệ" : "Hết hạn")</label>
                                            }
                                            else if (warranty.Status.Equals("Waiting"))
                                            {
                                                <label class="badge badge-danger">Chờ</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-warning">Đang bảo hành</label>
                                            }
                                        </td>
                                        <!-- Modal -->
                                        <td>
                                            <i class="fa fa-eye menu-icon" data-toggle="modal" data-target="#warranty"></i>
                                            <div class="modal fade" id="warranty" tabindex="-1" role="dialog" aria-labelledby="warrantyLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-xl" role="document">
                                                    <div class="modal-content">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Thông tin bảo hành</h4>
                                                                <div class="form-group row">
                                                                    <label for="purchaseDate" class="col-sm-3 col-form-label">Ngày mua</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="purchaseDate" placeholder="Ngày mua" value="@warranty?.DateOfPurchase.ToString("dd-MM-yyyy")" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="expirationDate" class="col-sm-3 col-form-label">Ngày hết hạn</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="expirationDate" placeholder="Ngày hết hạn" value="@warranty?.ExpirationDate.ToString("dd-MM-yyyy")" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="period" class="col-sm-3 col-form-label">Giai đoạn</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="period" placeholder="Giai đoạn" value="@($"{warranty?.Period} tháng")" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="status" class="col-sm-3 col-form-label">Trạng thái</label>
                                                                    <div class="col-sm-9">
                                                                        @if (warranty?.Status?.Equals("Active") == true)
                                                                        {
                                                                            <label class="badge badge-success">@warranty.Status</label>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label class="badge badge-danger">@warranty?.Status ?? "N/A"</label>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="conditionWarranty" class="col-sm-3 col-form-label">Điều kiện bảo hành</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" id="conditionWarranty" placeholder="Điều kiện bảo hành" value="@warranty?.ConditionWarranty?.Condition" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*    Modal *@
                                        </td>
                                        <td>
                                            <a asp-page="./UpdateWarranty" asp-route-id="@warranty.Id" class="btn btn-primary">Cập nhật</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example" style="padding-top:50px">
                            <ul class="pagination justify-content-end">
                                <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Previous</a>
                                </li>
                                @for (var i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(Model.Page == i ? "active" : "")">
                                        <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@i" asp-route-size="@Model.Size">@i</a>
                                    </li>
                                }
                                <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                    <a class="page-link" asp-page="./ListWarranty" asp-route-currentPage="@(Model.Page + 1)" asp-route-size="@Model.Size" aria-disabled="@(Model.Page == Model.TotalPages)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3>Hiện tại danh sách trống</h3>
        }
    </div>
</div>
@section Scripts {
    <script>
        function searchWarranty() {
            var code = document.getElementById('searchCode').value;

            // Hide the existing table before search
            document.getElementById('warrantyTable').style.display = 'none';
            $('#warrantyDetailsContainer').hide();
            $.ajax({
                url: '/Manager/Warranty/ListWarranty?handler=Search',
                type: 'GET',
                data: { code: code },
                success: function (data) {
                    console.log("Data: ", data);
                    try {
                        // Populate the new warranty details
                        populateWarrantyDetails(data);

                        // Show the table if data is returned
                        if (data) {
                            document.getElementById('warrantyTable').style.display = 'block';
                        }
                    } catch (error) {
                        console.error('Error processing warranty details:', error);
                        $('#warrantyDetails').html('<p class="text-danger">Error processing warranty details.</p>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred:', error);
                    // Handle error appropriately
                    $('#warrantyDetails').html('<p class="text-danger">Error retrieving warranty details.</p>');
                }
            });
        }

        function populateWarrantyDetails(data) {
            var tableBody = $('#warrantyDetails');
            tableBody.empty(); // Clear previous results

            if (data) {
                var uniqueModalId = `warranty-${data.id}`; // Ensure unique modal ID
                var row = `
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Ngày mua</th>
                                                    <th>Ngày hết hạn</th>
                                                    <th>Giai đoạn</th>
                                                    <th>Trạng thái</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>${data.productName ?? ''}</td>
                                                    <td>${new Date(data.dateOfPurchase).toLocaleDateString()}</td>
                                                    <td>${new Date(data.expirationDate).toLocaleDateString()}</td>
                                                    <td>${data.period} months</td>
                                                    <td>
                                                        ${data.status === "Finish for Warranty" ? '<label class="badge badge-success">Hoàn thành bảo hành</label>' :
                        data.status === "Invalid for Warranty" || data.status === "Expired" ? '<label class="badge badge-danger">' + (data.status === "Invalid for Warranty" ? 'Không hợp lệ' : 'Hết hạn') + '</label>' :
                            data.status === "Waiting" ? '<label class="badge badge-danger">Chờ</label>' :
                                '<label class="badge badge-warning">Đang bảo hành</label>'
                    }
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-eye menu-icon" data-toggle="modal" data-target="#${uniqueModalId}"></i>
                                                        <div class="modal fade" id="${uniqueModalId}" tabindex="-1" role="dialog" aria-labelledby="warrantyLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl" role="document">
                                                                <div class="modal-content">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h4 class="card-title">Thông tin bảo hành</h4>
                                                                            <div class="form-group row">
                                                                                <label for="purchaseDate" class="col-sm-3 col-form-label">Ngày mua</label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control" id="purchaseDate" placeholder="Ngày mua" value="${new Date(data.dateOfPurchase).toLocaleDateString()}" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label for="expirationDate" class="col-sm-3 col-form-label">Ngày hết hạn</label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control" id="expirationDate" placeholder="Ngày hết hạn" value="${new Date(data.expirationDate).toLocaleDateString()}" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label for="period" class="col-sm-3 col-form-label">Giai đoạn</label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control" id="period" placeholder="Giai đoạn" value="${data.period} tháng" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label for="status" class="col-sm-3 col-form-label">Trạng thái</label>
                                                                                <div class="col-sm-9">
                                                                                    ${data.status === "Active" ? '<label class="badge badge-success">' + data.status + '</label>' : '<label class="badge badge-danger">' + (data.status ?? 'N/A') + '</label>'}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <label for="conditionWarranty" class="col-sm-3 col-form-label">Điều kiện bảo hành</label>
                                                                                <div class="col-sm-9">
                                                                                    <input type="text" class="form-control" id="conditionWarranty" placeholder="Điều kiện bảo hành" value="${data.conditionWarranty?.condition ?? ''}" readonly>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="./UpdateWarranty?id=${data.id}" class="btn btn-primary">Cập nhật</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>`;
                tableBody.append(row);
            } else {
                tableBody.append('<p class="text-warning">No warranty found for the provided code.</p>');
            }
        }
    </script>
}
