@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Stall.ListStallModels
@{
    int totalItems = Model.TotalItems;
    int totalPages = Model.TotalPages;
    int totalStallCount = Model.TotalAccountCount;
    int totalActiveStallCount = Model.ActiveAccountCount;
    int totalInactiveStallCount = Model.TotalAccountCount - Model.ActiveAccountCount;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.png" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Tổng số gian hàng <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalStallCount</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Gian hàng đang hoạt động <i class="mdi mdi-diamond mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalActiveStallCount</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-warning card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Gian hàng không hoạt động <i class="mdi mdi-bookmark-outline mdi-24px float-end"></i>
                        </h4>
                        <h2 class="mb-5">@totalInactiveStallCount</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="page-header">
                            <h3 class="page-title"> DANH SÁCH GIAN HÀNG </h3>
                        </div>


                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Mã số nhân viên </th>
                                        <th> Tên </th>
                                        <th> Số quầy </th>
                                        <th> Trạng thái làm việc </th>
                                  @*       <th> View </th> *@
                              
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stall in Model.ListStall)
                                    {
                                        <tr>
                                            <td> @stall.StaffId </td>
                                            <td> @stall.Name </td>
                                            <td> @stall.Number </td>
                                            <td> @(stall.Deflag.HasValue ? (stall.Deflag.Value ? "Đang làm việc" : "Đã nghỉ") : "Trạng thái không xác định") </td>
                                           @*  <td>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stallModal-@stall.Id">
                                                    <i class="fa fa-eye menu-icon"></i>
                                                </button>
                                            </td> *@
                                           @*  <td>
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal-@stall.Id">
                                                    <i class="fa fa-edit menu-icon"></i>
                                                </button>
                                            </td> *@
                                        </tr>

                                        <!-- Detail Modal -->
                                       @*  <div class="modal fade" id="stallModal-@stall.Id" tabindex="-1" aria-labelledby="stallModalLabel-@stall.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="stallModalLabel-@stall.Id">Thông tin gian hàng</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="stall-details">
                                                            <div class="stall-info">
                                                                <p><strong>Tên gian hàng:</strong> @stall.Name</p>
                                                                <p><strong>Số gian hàng:</strong> @stall.Number</p>
                                                                <p><strong>ID nhân viên:</strong> @stall.StaffId</p>
                                                                <p><strong>Deflag:</strong> @stall.Deflag</p>
                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> *@

                                     @*    <!-- Edit Modal -->
                                        <div class="modal fade" id="editModal-@stall.Id" tabindex="-1" aria-labelledby="editModalLabel-@stall.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel-@stall.Id">Chỉnh sửa gian hàng</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="mb-3">
                                                                <label for="editName-@stall.Id" class="form-label">Tên gian hàng</label>
                                                                <input type="text" class="form-control" id="editName-@stall.Id" value="@stall.Name">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editNumber-@stall.Id" class="form-label">Số gian hàng</label>
                                                                <input type="text" class="form-control" id="editNumber-@stall.Id" value="@stall.Number">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editStaffId-@stall.Id" class="form-label">ID nhân viên</label>
                                                                <input type="text" class="form-control" id="editStaffId-@stall.Id" value="@stall.StaffId">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="editDeflag-@stall.Id" class="form-label">Deflag</label>
                                                                <input type="text" class="form-control" id="editDeflag-@stall.Id" value="@stall.Deflag">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Lưu thay đổi</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> *@
                                    }
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example" style="padding-top:50px">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                        <a class="page-link" asp-page="./ListStall" asp-route-currentPage="@(Model.Page - 1)" asp-route-size="@Model.Size" tabindex="-1" aria-disabled="@(Model.Page == 1)">Previous</a>
                                    </li>
                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="page-item @(Model.Page == i ? "active" : "")">
                                            <a class="page-link" asp-page="./ListStall" asp-route-currentPage="@i" asp-route-size="@Model.Size">@i</a>
                                        </li>
                                    }
                                    <li class="page-item @(Model.Page == Model.TotalPages ? "disabled" : "")">
                                        <a class="page-link" asp-page="./ListStall" asp-route-currentPage="@(Model.Page + 1)" asp-route-size="@Model.Size">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

