@page
@model JewelrySalesSystem_NoName_FE.Pages.Manager.Promotions.AddPromotionModel
@{
    var partNumber = 0;
    var maxParts = Model.ProductParts.Count;
}
<style>
    .form-check-input {
        border: 0.5px solid;
    }
</style>
<div class="main-panel">
    <div class="content-wrapper">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thêm mới khuyến mãi</h4>
                <form class="forms-sample" id="form-submit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.PromotionName" class="control-label">Tiêu đề khuyến mãi</label>
                        <input asp-for="AddPromotionRequest.PromotionName" class="form-control" placeholder="Nhập tiêu đề khuyến mãi" />
                        <span asp-validation-for="AddPromotionRequest.PromotionName" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.Type" class="control-label">Loại</label>
                        <select asp-for="AddPromotionRequest.Type" class="form-select" placeholder="Chọn loại khuyến mãi">
                            <option value="Product">Product</option>
                        </select>
                        <span asp-validation-for="AddPromotionRequest.Type" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.Description" class="control-label">Mô tả</label>
                        <textarea style="height: 150px" asp-for="AddPromotionRequest.Description" class="form-control" placeholder="Nhập mô tả khuyến mãi"></textarea>
                        <span asp-validation-for="AddPromotionRequest.Description" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="AddPromotionRequest.ProductQuantity" class="control-label">Số lượng sản phẩm</label>
                        <input asp-for="AddPromotionRequest.ProductQuantity" type="number" max="99999" class="form-control" placeholder="Nhập số lượng sản phẩm" />
                        <span asp-validation-for="AddPromotionRequest.ProductQuantity" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.Percentage" class="control-label">Phần trăm khuyến mãi</label>
                        <input asp-for="AddPromotionRequest.Percentage" type="number"min="1" max="100" class="form-control" placeholder="Nhập % khuyến mãi" />
                        <span asp-validation-for="AddPromotionRequest.Percentage" class="text-danger d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.StartDate" class="control-label">Ngày bắt đầu</label>
                        <input asp-for="AddPromotionRequest.StartDate" value="@DateTime.UtcNow" readonly type="datetime" class="form-control" />
                        <span asp-validation-for="AddPromotionRequest.StartDate" class="text-danger  d-block mt-1"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddPromotionRequest.EndDate" class="control-label">Ngày kết thúc</label>
                        <input asp-for="AddPromotionRequest.EndDate" type="datetime-local" class="form-control" placeholder="Chọn ngày kết thúc" id="endDate" />
                        <span asp-validation-for="AddPromotionRequest.EndDate" class="text-danger d-block mt-1"></span>
                        <span id="endDateError" class="text-danger d-block mt-1" style="display:none;">Ngày kết thúc không được trước ngày hiện tại.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label fw-bold">Chọn sản phẩm để sử dụng khuyến mãi</label> <br />
                        @if (Model?.Products != null)
                        {
                            @foreach (var part in Model.ProductParts)
                            {
                                <div id="part-@partNumber" class="row @(partNumber++ != 0 ? "d-none" : "")">
                                    @foreach (var item in part)
                                    {
                                        <div class="col-sm-12 col-lg-4">
                                            <input type="checkbox" name="ProductId" value="@item.Id" class="form-check-input" />
                                            <span class="ms-2">@item.ProductName</span>
                                        </div>
                                    }
                                    <input type="hidden" asp-for="AddPromotionRequest.ProductJson" id="product-json" />
                                </div>
                            }
                            <input id="part-index" value="1" type="hidden" />
                            <a class="mt-2" id="show-more-button" href="#part-index" onclick="showMore('@maxParts')">Hiện thị thêm</a>
                        }
                    </div>


                    @if (!String.IsNullOrEmpty(Model?.ErrorMessage))
                    {
                        <span class="text-danger  d-block">@Model.ErrorMessage</span>
                    }

                    <div class="row mt-3">
                        <div class="col-sm-12 d-flex flex-row justify-content-start">
                            <a href="ListPromotion" class="btn btn-secondary me-3">

                                <i class="bi bi-arrow-left"></i>
                                <span>Trở về</span>
                            </a>
                            <button type="button" onclick="preSubmit();" class="btn btn-primary ">
                                <i class="bi bi-pencil"></i>
                                <span>Lưu</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('endDate').addEventListener('change', function () {
        var endDate = new Date(this.value);
        var today = new Date();
        today.setHours(0, 0, 0, 0); // Reset time part to compare only date part

        if (endDate < today) {
            // Show error message
            document.getElementById('endDateError').style.display = 'block';
        } else {
            // Hide error message
            document.getElementById('endDateError').style.display = 'none';
        }
    });
    function preSubmit() {
        var productIds = document.getElementsByName('ProductId');
        var listProduct = "";

        for (var i = 0; i < productIds.length; i++) {
            if (productIds[i].checked) {
                listProduct += productIds[i].value + " ";
            }
        }
        console.log(listProduct);
        document.getElementById('product-json').value = listProduct.trim();
        if (listProduct.trim() === "") {
            window.alert("Hãy chọn ít nhất 1 sản phẩm");
            return;
        };
        document.getElementById('form-submit').submit();
    }

    function showMore(maxParts) {
        var currentPartIndex = document.getElementById("part-index");
        var partIndex = parseInt(currentPartIndex.value);
        if (partIndex < parseInt(maxParts)) {
            var part = document.getElementById("part-" + partIndex);
            part.className = "row";
            currentPartIndex.value = partIndex + 1;
        } else {
            document.getElementById("show-more-button").style.display = "none";
        }
    }
</script>

